body {
    position: relative;
}

// .navbar {


//     @media(max-width:768px) {
//         padding: 2rem;
//     }
// }

// .logo-humbrg-container {
//     display: flex;
//     align-items: center;

// }

// .hide-hamburger {
//     display: none;

//     @media(max-width:768px) {
//         display: flex;
//     }

// }

.logo-container {
    padding-block: 1rem;
    padding-inline: 2rem;

    @media(max-width:768px) {
        padding-block: 0.5rem;
        padding-inline: 1rem;

        p {
            font-size: 1rem !important;
        }
    }

}

.header-icons {
    gap: 1rem;


    .container-fluid {
        padding-left: unset;
    }

}

.account-btn {
    position: relative;
    margin-right: 2.5rem;

    @media(max-width:768px) {
        margin-right: unset;
    }
}


.account-dropdown {
    display: none;
    position: absolute;
    background-color: rgb(65, 62, 62);
    top: 49px;
    bottom: -40px;
    right: 52px;
    z-index: 200;
    width: 8rem;
    padding: .5rem;
    border-radius: .5rem;
    height: 6rem;
    text-align: center;

    p {
        color: lightgray;

    }

    button {
        padding-block: .3rem;
        padding-inline: 1rem;
        /* background-color: black; */
        background-color: rgb(65, 62, 62);
        border: 1px solid red;
        border-radius: 1.5rem;
        color: red;
        font-size: 14px;
    }
}

// .dropdown-menu{
//     display: none;
// }


// .account-btn:active {
//     .dropdown-menu{
//         display: block;
//     }

// }

// .account-btn:focus {
//     .dropdown-menu{
//         display: block;
//     }

// }


.hide-btns {
    .btn-outline-light:hover {
        background-color: gray;
        color: black;

    }
}

.menu-icon {
    width: 24px !important;
    height: 24px !important;

    @media(max-width:768px) {
        width: 20px !important;
        height: 20px !important;
    }
}


.nav-logo {
    margin-bottom: 0 !important;
    font-size: 1.1rem;
}

.search-text {
    margin-bottom: 0 !important;
    font-size: 1.1rem;

}

@media(max-width:768px) {
    .hide-btns {
        display: none !important;
    }
}


.main-container {
    background-color: black;
    display: grid;
    grid-template-columns: 32rem calc(100% - 36rem);
    gap: 1.5rem;
    grid-template-rows: calc(100vh - 94px);
    padding: 1.5rem;

    @media(max-width:1139px) {

        grid-template-columns: 1fr;
        grid-template-rows: none;
    }

    @media(max-width:400px) {

        padding: .5rem;
    }

    .row {
        height: 100%;

        @media(max-width:1024px) {
            display: grid;
        }

        .col-4 {
            @media(max-width:1024px) {
                height: 100%;
                width: 100%;
            }

        }
    }
}

.movie-list-container {
    height: 100%;
    // overflow-y: scroll;
}

.movie-list-head {
    color: rgb(221, 221, 221);
}

.movie-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
    overflow-y: scroll;
    height: calc(100% - 52px);

    @media(max-width:1139px) {
        overflow-y: unset;
    }

    .row {
        height: 10rem;
        width: 100%;
        margin-bottom: 0.5rem;

        @media(max-width:1024px) {
            display: flex;
            margin-bottom: 0px;

            .col {
                width: 20rem;
                padding-right: 0px;
                margin-left: 1rem;
            }

        }

        .col {
            height: 100%;
            overflow: hidden;

            a {
                height: 100%;
                display: block;

                img {
                    object-fit: cover;
                    height: 100%;
                }
            }

        }


    }

}

.movies-img {
    min-width: 15rem;
    height: 10rem;
    border-radius: .5rem;
    overflow: hidden;

    a {
        display: inline-block;
        height: 10rem;
        width: 15rem;

        img {
            height: 10rem;
            object-fit: cover;
        }
    }
}

.movie-list {

    @media(max-width:1139px) {
        width: calc(100vw - 54px);
        display: flex;
        overflow-x: scroll;
        height: 167px;




    }
}


.movies-details-container {
    background-color: #414040;
    position: relative;
    border-radius: .5rem;
    padding: 1.5rem;

    @media(max-width:1024px) {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    @media(max-width:414px) {
        padding: .5rem;
    }

    @media(max-width:1139px) {

        width: calc(100vw - 54px);
    }





    .nav-link {
        font-size: 1.5rem;
        color: rgb(216, 216, 216);

        @media(max-width:498px) {
            padding: unset;
            padding-inline: 1rem;
        }

    }

    .nav-link:active {
        color: red;
    }

    .nav-link:focus {
        color: red;
    }



    .tab-content {
        height: calc(100% - 52px);

        .tab-pane {
            padding: 1rem;
            height: 100%;
        }
    }

    .left-chevron-btn {
        position: absolute;
        top: 59px;
        right: 128px;
        width: 3rem;
        border: none;
    }

    .right-chevron-btn {
        position: absolute;
        top: 29px;
        right: 37px;
        width: 3rem;
        border: none;
    }
}

.movie-details-content {
    // display: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    height: 100%;

    @media(max-width:1468px) {
        grid-template-columns: 1fr;
    }

    @media(max-width:1500px) {
        grid-template-columns: 1fr;
    }



    .movie-info-inner-container {

        .movie-info-wrap {
            display: flex;
            align-items: start;
            justify-content: start;
            gap: 2rem;
            margin-bottom: 1rem;

            // padding: 1rem;
            // color: lightgrey;
            // background-color: #2d2c2c;
            // border-radius: .5rem;
            .movie-info-text {
                display: flex;
                align-items: center;
                justify-content: start;
                gap: .5rem;
                min-width: 8rem;

                @media(max-width:438px) {
                    min-width: 5rem;
                }

                p {
                    margin-bottom: unset;
                }
            }
        }
    }

    .movie-info-container {
        height: 87%;

        .movie-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            padding: 1.25rem;
            color: lightgrey;
            background-color: #2d2c2c;
            border-radius: .5rem;
            margin-bottom: 1.5rem;

            @media(max-width:575px) {
                height: unset;
            }



            .movie-rating-container {
                display: flex;
                gap: 4rem;
                justify-content: start;
                align-items: start;

                @media(max-width:575px) {
                    flex-direction: column;

                }

                @media(max-width:1638px) {
                    gap: 2rem;
                }

                @media(max-width:1574PX) {
                    gap: 1rem;

                }


                .star-icon {
                    display: flex;
                    gap: .5rem;
                    align-items: center;
                    justify-content: start;
                    background-color: black;
                    padding-block: .3rem;
                    padding-inline: 2rem;
                    border-radius: .3rem;

                    @media(max-width:1702px) {

                        padding-inline: 1rem;
                    }

                    @media(max-width:575px) {
                        width: 100%;
                        justify-content: center;

                    }

                    @media(max-width:1542px) {

                        gap: .25rem;
                    }

                    // @media(max-width:1500px) {

                    //     margin-bottom: 1rem;

                    // }


                    div {
                        color: #ffc107;
                        font-size: 1.2rem;
                    }


                }

                .watched-list-container {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    gap: 1rem;

                    @media(max-width:1486px) {
                        width: 60%;

                    }

                    @media(max-width:1703px) {
                        width: 60%;

                    }

                    @media(max-width:575px) {
                        width: 100%;

                    }

                    .watched-list-btn {
                        padding-inline: 2rem;
                        color: red;
                        background-color: black;
                        padding-block: .4rem;
                        border: none;
                        border-radius: .3rem;

                        @media(max-width:1767px) {
                            padding-inline: 1rem;

                        }

                        @media(max-width:575px) {
                            width: 100%;

                        }
                    }


                }


            }
        }



        .cinema-book-ticket-container {
            color: rgb(216, 213, 213);
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media(max-width:575px) {
                flex-direction: column;
                gap: .5rem;
                justify-content: unset;

            }

           a {
                background-color: red;
                padding-block: 1.25rem;
                padding-inline: 4rem;
                color: white;
                border: none;
                border-radius: .3rem;

                // @media(max-width:1530px) {
                //     padding-inline: 2rem;

                // }
                @media(max-width:1574px) {
                    padding-inline: 3rem;

                }

                @media(max-width:575px) {
                    width: 100%;

                }
            }
            .book-ticket-btn:hover{
                background-color: rgb(202, 5, 5);
            }
            .book-ticket-btn:active{
                background-color: rgb(163, 4, 4);
            }
            .book-ticket-btn:focus{
                outline: 2px solid rgb(245, 168, 168);
                outline-offset: 2px;
                outline-style: dotted;
            }
        }

    }



}

// .movie-details-content {
//     // display: none;
//     display: block;

//     .col-5 {
//         @media(max-width:1024px) {
//             display: grid;
//             width: 100%;
//         }

//     }

//     .movie-info {
//         margin-bottom: 1rem;

//         .movie-info-wrap {
//             display: flex;
//             gap: 5rem;
//             margin-bottom: 1rem;

//             .info-wrap-first-column {
//                 width: 8rem;
//             }
//         }
//     }
// }

// .movie-details-taps {
//     color: black;
// }

// .movie-details-taps:hover {
//     color: black;
// }

// .movie-details-taps:active {
//     color: black;

// }

// .movie-details-taps:focus {
//     color: black;
//     text-decoration: underline;
//     font-weight: bold;
// }

.movie-img-container {

    border-radius: .5rem;
    overflow: hidden;
    height: 100%;

    @media(max-width:1024px) {
        height: 15rem;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        @media(max-width:1468px) {
            height: 20rem;
        }

        @media(max-width:1024px) {
            height: 15rem;
        }

    }

}

.movie-content-text {
    color: white;

    p {
        font-size: 1.1rem;
    }

    .row {
        @media(max-width:1024px) {
            display: flex;
        }
    }

}

// .rating-container {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;

//     @media(max-width:1400px) {

//         display: block;

//     }

//     @media(max-width:1280px) {

//         flex-direction: column;
//         align-items: start;
//         justify-content: start;
//         gap: 2rem;
//     }


// }

.star-rating {
    display: inline-flex;
    padding-block: .5rem;
    padding-inline: 1rem;

    span {
        display: inline-block;
        font-size: 1.2rem;

    }

}

// .watched-list-container {
//     display: flex;
//     align-items: center;

//     @media(max-width:1400px) {

//         margin-top: 1rem;

//     }

//     div {
//         padding-inline: 1rem;
//         padding-block: .1rem;
//     }
// }

// .watched-card-group{
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr 1fr ;
//     gap: .5rem;

//     @media(max-width:1024px) {
//         grid-template-columns: 1fr 1fr;


//     }

// }
.heart-icon {
    display: inline-block;
    background-color: white;
    padding: .6rem;
    border: 1px solid gray;
}

.watched-cards-container {
    // display: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100%;
    gap: 1.5rem;
    display: flex;

    overflow-x: scroll;

    // @media(max-width:1650px) {

    //   grid-template-rows: 50% 50%;
    //   grid-template-columns: repeat(2, 1fr);

    // }


    .watched-cards {
        height: 100%;
        min-width: 18rem;

        .movie-card-img {
            height: calc(100% - 147px);
            // @media(max-width:1139px) {

            //     height: calc(50% - 147px );

            //   }
            img {
                height: 100%;
                object-fit: cover;
            }
        }

        .movie-card-content {
            padding: 1rem;
            color: rgb(216, 213, 213);
            background-color: #232222;

            button {
                padding-block: .5rem;
                padding-inline: 1rem;
                display: flex;
                gap: .5rem;
                align-items: center;
                justify-content: center;
                border: none;
                border-radius: 1.5rem;
                background-color: #4f4d4d;
                color: #c3bfbf;

                p {
                    margin-bottom: unset;
                }
            }
        }

    }
}

.rate-text {
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;

    .rating-container {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: .6rem;

        .num-text {
            color: orange;
            margin-top: .2rem;
        }
    }
}



// search modal //
.search-modal {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    right: 0;
    bottom: 0;
    // display: flex; 
    justify-content: center;
    align-items: start;

    .search-modal-dialog {
        top: -325px;
        width: 50rem;
        margin: 1.75rem auto;
        position: absolute;
        top: 70px;
    }

    .search-icon {
        position: absolute;
        top: 35px;
        left: 26px;
        width: 20px;
        height: 20px;
    }

    .search-input {
        width: 100%;
        padding: 2rem;
        padding-left: 3rem;
        border: none;
    }

}

// favourite btn modal //
.fvrt-btn-modal {
    display: none;
    background-color: rgba(0, 0, 0, .4);
    height: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    // display: flex;
    justify-content: end;

    .fvrt-movies-list {
        background-color: rgba(0, 0, 0, .6);
        width: 28rem;
        padding: 2rem;
        overflow-y: scroll;
        position: absolute;
        top: 57px;
        height: 100%;

        .movies-list-header {
            color: white;
            display: flex;
            justify-content: space-between;

            p {
                font-size: 1.5rem;
            }

            .close-btn {
                padding-inline: .5rem;
                margin-bottom: 1.2rem;
                background-color: black;
                /* border: none; */
                border: 1px solid red;
            }
        }

    }

    .fvrt-card-content {
        background-color: black;
        color: #adacac;
    }

    .movies-list-content {
        overflow-y: scroll;
        height: calc(100% - 36px);

        .card {
            border: 1px solid rgb(55 54 54);
            border-radius: .5rem;
            overflow: hidden;
        }
    }
}

.movie-title-row {
    display: flex;
    justify-content: space-between;
}



.login-modal {
    display: none;
    // background-color: rgba(0, 0, 0, .4);
    // height: 100%;
    position: fixed;
    z-index: 50;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    // display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../media/images/background-img.jpg");
    max-width: 100%;
    height: auto;
    background-size: cover;

    .login-form {
        width: 400px;
        height: 500px;
        background-color:rgba(0, 0, 0, .8);
        padding: 2rem;
        display: flex;
        flex-direction: column;
        border-radius: .5rem;
        position: absolute;
        right: 240px;

        label {
            width: unset;
            color: rgb(168, 168, 168);
        }

        // button{
        //     width: 83%;
        // }
        .col-sm-10 {
            width: 100%;
        }

        input{
          background-color: black;
          border: 1px solid #5d5c5c;

        }

        .btn-danger{
            background-color: red;
        }
        a {
            text-decoration: none;
            color: red;
        }
    }
}

.footer-container {
    padding: 2rem;
    background-color: #252222;
    color: white;

    .row {

        @media(max-width:1024px) {
            flex-direction: column;
            gap: 2rem;


        }
    }

    .light-text {
        font-size: 13px;
        color: lightgray;
    }
}